
<% if @search %>
  <%= search_form_for @search  do|f| %>
    <div class = "center">
      <%= f.label :title_cont, "Title Contains", :class => " text-danger"   %>
      <%= f.text_field :title_cont %>
      <%= f.submit "Search", :class => "button btn btn-warning" %></div>
    </div>
  <% end %>
<% end %>

<% @articles.each.with_index(1) do |article, index, user | %>


  <div class="row center">
    <div class="card text-center">
          <h2><%= article.title %></h2>
          <h5><%= article.text %></h5>
          <%= image_tag(article.avatar.url, :size => "260x180") %>
          <h6><b>Date & Time: </b><%= article.created_at %></h6>
          <h6><b>Created BY: </b><%= article.user.username%></h6>
          <%= link_to 'Show', article_path(article),  :class => "button btn btn-success" %>
          <% if current_user == article.user%>
            <%= link_to 'Edit', edit_article_path(article), :class => "button btn btn-info" %>
            <%= link_to 'Destroy', article_path(article), :id=>index , :class => "customclass button btn btn-primary", remote: true,
                            method: :delete,
                            data: { confirm: 'Are you sure?'} %>
          <!--p>Some text..</p-->
            <% end %>
        </div>
  </div>
<% end %>
<%= paginate(@articles) %>
  <!--
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>

-->

















<!--
<h1 >Listing Articles</h1>

<#% if @search %>
  <#%= search_form_for @search  do|f| %>
    <div class = "field">
        <#%= f.label :title_cont, "Title Contains" %>
        <#%= f.text_field :title_cont %>
      </div>

    <div class="actions">
      <#%= f.submit "Search"  %></div>
  <#% end %>
<#% end %>
<#%= link_to 'New article', new_article_path,:class => "button btn btn-primary", id: "new_link", remote: true %>
<table class="table table-bordered ,p-3 mb-2 bg-warning text-white">
  <tr >
    <th class="text-danger"><h2>ID</h2></th>
    <th class="text-danger"><h2>Title</h2></th>
    <th class="text-danger"><h2>Text</h2></th>
    <th colspan="3"></th>
  </tr>
  <#% @articles.each.with_index(1) do |article, index| %>
    <tr id=<#%= index %>>
      <td><#%= index %></td>
      <td><#%= article.title %></td>
      <td><#%= article.text %></td>
      <td><#%= link_to 'Show', article_path(article),  :class => "button btn btn-success" %></td>
      <#% if current_user%>
      <td><#%= link_to 'Edit', edit_article_path(article), :class => "button btn btn-info" %></td>
      <td><#%= link_to 'Destroy', article_path(article), :id=>index , :class => "customclass button btn btn-primary", remote: true,
                      method: :delete,
                      data: { confirm: 'Are you sure?'} %>
      </td>
        <% #end %>
    </tr>
  <#% end %>
  <#%=  paginate(@articles) %>
</table>
-->